.container {
  position: relative;
  z-index: 1;
  padding: 0 40px 40px 160px;
  
  @include mq-max($not-tablet-width) {
    padding: 1rem 1rem 50px;
  }

  &__title {
    font-size: 28px;
    margin: 0 0 2rem;
  }
}