.home-mainvisual {
  width: 100%;
  height: 50vh;
  max-height: floor(math.div($max-width*9, 16));
  overflow: hidden;
  
  &__inner {
    display: flex;
    height: 100%;
    background: #eee;
  }
  
  &__unit {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  
  &__link {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    max-width: $max-width;
    height: 100%;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      span {
        display: block;
        padding: 1rem 2rem;
        background: #fff;
      }
    }
  }
}