.inner {
  position: relative;
  top: 1px;
  max-width: $max-width;
  margin: 0 auto;
  /*
  padding: 0 0 100px;
  background: url(../images/bg-allinthemind.svg) center bottom no-repeat;
  background-size: auto 100px;
  */
}