.DS_Store

# 【重要】設定情報を含むファイルのため対象外にする
include/google.php
include/api/_config.php
include/api/twitter-auto.php

# 自動生成するファイルのため対象外にする
_build/dist/

# 本件と関係のないファイル群
_build/src/bk_js/*
_build/src/bk_sass/*
include/backup*
include_smplsmpls/*
functions/admin_copy/*
functions/original_copy/*
functions/functions-manual.php
functions/smpls.php
functions/tabinoto.php

