.title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  color: #eee;
  
  font-family: 'my-oswald', 'Roboto Condensed', sans-serif;
  font-weight: normal;
  
  &__main {
    font-size: 40px;
  }
  &__sub {
    display: block;
    font-size: 28px;
  }
  &__num {
    padding: 0 0.5rem;
    font-size: 70px;
    letter-spacing: -2px;
    white-space: nowrap;
  }
  
  @include mq-max($smartphone-width) {
  
    &__main {
      font-size: 30px;
    }
    &__sub {
      font-size: 20px;
    }
    &__num {
      font-size: 56px;
    }
  }
}