/*
@font-face {
  font-family: "BebasNeue";
  src: url(../font/BebasNeue-Regular.woff2),
    url(../font/BebasNeue-Regular.woff);
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url(../font/OpenSansCondensed-Bold.woff2),
    url(../font/OpenSansCondensed-Bold.woff);
}

@font-face {
  font-family: "OpenSansCondensed";
  src: url(../font/OpenSansCondensed-Light.woff2),
    url(../font/OpenSansCondensed-Light.woff);
}

@font-face {
  font-family: "Libre_Barcode_128_Text";
  src: url(../font/LibreBarcode128Text-Regular.woff2),
    url(../font/LibreBarcode128Text-Regular.woff);
}

@font-face {
  font-family: "Crushed";
  src: url(../font/Crushed-Regular.woff2),
    url(../font/Crushed-Regular.woff);
}
*/