.profile {
  margin: 0 0 1px;
  padding: 1rem;
  background: lighten(#91C2E1, 5%);
  overflow: hidden;
  line-height: 1.5;
  
  img {
    float: left;
    width: 40%;
    max-width: 220px;
    height: auto;
    margin: 0 1rem 1rem 0;
  }
  
  div {
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 24px;
  }
  
  a {
    color: #000;
    text-decoration: underline;
  }
}